<%- include('header') -%>

<div class="row justify-content-center my-3">

    <div class="col-8 col-lg-4 text-center">

        Username: <%= username %>
        <br />
        Role: <%= role %>
        <br />
        Balance: <%= balance %>

    </div>

</div>


<%- include('footer') -%>